<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email detail</title>
    <link rel="stylesheet" href="/css/emailDetail.css">
</head>

<body>
    <header>
        <h1>
            <%= emailSubject %>
        </h1>
        <% if (attachmentLink) { %>
            <a href="<%= attachmentLink %>">Download Attachment</a>
            <% } %>
    </header>
    <div class="container">
        <p>
            <%= emailBody %>
        </p>
    </div>
</body>

</html>