<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
  <div class="wrapper">
    <div class="title">Welcome, <%= username %>!</div>
    <p>Thank you for signing up. You are now a member of our community.</p>
    <p>Click <a href="/">here</a> to sign in and start using our services.</p>
  </div>
</body>

</html>
