body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #4158d0;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #4158d0;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

form label, form textarea, form input {
    display: block;
    margin-bottom: 10px;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form button {
    background-color: #4158d0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #31488C;
}
